* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

.container > div:first-child {
    width: 60%;
    padding: 60px;
    overflow-y: auto;
    background-color: #081020;
    color: white;
}

.imagen {
    width: 40%;
    background-image: url('imagen/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

h2 {
   margin-top: 50%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

p {
    margin-bottom: 30px;
    line-height: 1.5;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 40%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333333;
}
.texto{
    margin-bottom: 30px;
    line-height: 1.5;
  

}
.sign{
    margin-top: 40px;
    text-align: center;
}
.sign a{
    color: #115515;
    text-decoration: none;
    font-weight: bold;
}

.formulario{
padding: 60px;
    background-color: #636e83;
    border-radius: 10% 20%;
}